.button {
    color: #fff;
    cursor: pointer;
    background-color: $green-dark;
    border: none;
    border-radius: 5px;
    font-size: $font-size-xs;
    padding: $xs-size;
    outline: none;
    transition: opacity 1.4s;
    font-family: 'Poppins', sans-serif;
    transition: opacity 1.4s;
}

.button:hover,
.button:active,
.button:visited {
    opacity: 0.8;
}
