.button {
    color: #fff;
    cursor: pointer;
    background-color: $green-dark;
    border: none;
    border-radius: 5px;
    font-size: $font-size-xs;
    font-weight: 500;
    letter-spacing: 1px;
    padding: $xs-size;
    outline: none;
    transition: opacity 1.4s;
    font-family: 'Poppins', sans-serif;
    transition: opacity 1.4s;
}

.button:hover,
.button:active,
.button:visited {
    opacity: 0.8;
}


.button--white {
  background-color: $green-super-light;
  color: $green-dark;
  font-weight: bold;
}

.button--remove {
  background: #d63031;
}
