.section-summary {
  background-color: $green-dark;
  color: $green-super-light;
  padding: $m-size 0;

  h2 {
    font-size: $font-size-s;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: $s-size;

    span {
      font-weight: bold;
    }
  }

  .button--white {
    background-color: $green-super-light;
    color: $green-dark;
    font-weight: 500;
  }

}
