
.header-main__content {
  padding: $xs-size 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
a.header-main__logo {
    color: $green-dark;
    font-size: $font-size-s;
    font-weight: bold;
}
